$cardBG:          #E8EBEE;
$darkGrey:          #303436;
$lightGreyFont:       #979797;
$lightGreyBorder:       #8D989E;
$yellow:          #F9B44A;
$white:           #FFFFFF;
$decadesActiveBG:       #1A72B0;
$decadesInactiveGreyBG:   #F7F8F9;
$decadesInactiveGreyBorder: #C2CAD0;