@import "/app/styles/css-reset";
@import "/app/styles/globals";
@import "/app/styles/mixins";

h1, p, span {
  color: $darkGrey;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }
}
